# Ignore environment variables file
.env

# Ignore Python virtual environment
*.pyc
*.pyo

# Ignore Log files
*.log

# Ignore pipenv files
Pipfile.lock

# Ignore generated JSON files
streamer_settings.json
ignored.json

# Ignore SSL certificates
*.pem

# Ignore ec2_logs
ec2_logs
*.ps1
*.sh

# Ignore pycache
__pycache__
