# Ignore environment variables file
.env

# Ignore Python virtual environment
*.pyc
*.pyo

# Ignore Log files
*.log

# Ignore pipenv files
Pipfile
Pipfile.lock

# Ignore streamer settings
streamer_settings.json

# Ignore SSL certificates
*.pem

# Ignore ec2_logs
ec2_logs
*.ps1
*.sh